<% if !@bar_shown && @last_read_at && message.created_at > @last_read_at %>
  <% @bar_shown = true %>
  <div class="border-bottom border-danger"></div>
<% end %>

<% if message.user_id == current_user.id %>
  <%= turbo_frame_tag dom_id(message) do %>
    <div class="chat">
      <div class="chat-body">
        <div class="chat-message">
          <%= message.body %>
          <%= link_to "Edit", edit_dashboard_channel_message_path(channel, message) %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= turbo_frame_tag dom_id(message) do %>
    <div class="chat chat-left">
      <div class="chat-body">
        <div class="chat-message">
          <%= message.body %>
          <%= link_to "Edit", edit_dashboard_channel_message_path(channel, message) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
