<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag "mazer/logo/logo.png", alt: "Logo", srcset: "" %>
          <% end %>
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li class="sidebar-title">Menu</li>

        <li class="sidebar-item <%= current_page?(dashboard_root_path) ? 'active' : '' %>">
          <%= link_to dashboard_root_path, class: "sidebar-link" do %>
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
          <% end %>
        </li>

        <li class="sidebar-item <%= current_page?(dashboard_channels_path) ? 'active' : '' %>">
          <%= link_to dashboard_channels_path, class: "sidebar-link" do %>
            <i class="bi bi-search"></i>
            <span>Channel browser</span>
          <% end %>
        </li>

        <li class="sidebar-item has-sub">
          <a href="#" class="sidebar-link">
            <i class="bi bi-stack"></i>
            <span>Components</span>
          </a>
          <ul class="submenu ">
            <li class="submenu-item ">
              <a href="component-alert.html">Alert</a>
            </li>
            <li class="submenu-item ">
              <a href="component-badge.html">Badge</a>
            </li>
          </ul>
        </li>

        <li class="sidebar-title">
          Channels <%= link_to new_dashboard_channel_path, class: "float-end" do %>
            <i class="bi bi-plus-circle"></i>
          <% end %>
        </li>

        <% if Channel.exists? %>
          <% Channel.all.each do |channel| %>
            <li class="sidebar-item <%= current_page?(dashboard_channel_path(channel)) ? 'active' : '' %>">
              <%= link_to dashboard_channel_path(channel), class: "sidebar-link" do %>
                <i class="bi bi-hash"></i>
                <span><%= channel.name %></span>
                <%# TODO: remove &. %>
                <% if current_user&.channels&.include?(channel) %>
                  <%= link_to dashboard_channel_channels_users_path(channel), data: { "turbo-method" => "delete" } do %>
                    <i class="bi bi-x-circle"></i>
                  <% end %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% end %>

        <li class="sidebar-title">Direct messages</li>

        <% if User.exists? %>
          <% User.all.each do |user| %>
            <li class="sidebar-item <%#= current_page?(dashboard_channel_path(user)) ? 'active' : '' %>">
              <%= link_to "#", class: "sidebar-link" do %>
                <div class="avatar bg-warning">
                  <%= image_tag "mazer/faces/1.jpg", alt: "", srcset: "" %>
                  <% status = ["online", "offline"].sample %>
                  <% status_color_class = status == "online" ? "bg-success" : "bg-danger" %>
                  <span class="avatar-status <%= status_color_class %>"></span>
                </div>
                <span class="text-break"><%= user.email %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>
