<!DOCTYPE html>
<html>
  <head>
    <title>HotwiredSlack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="<%= content_for?(:wrapper_id) ? yield(:wrapper_id) : 'app' %>">
      <%# TODO: remove FrontPages %>
      <% if [Dashboard, FrontPages].include?(controller.class.module_parent) %>
        <%= render "dashboard/shared/sidebar" %>
        <div id="main" class="<%= yield :main_class %>">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
